 :root{
   --sliderPos: 0
}

/*
.result{
    white-space: pre-line;
}

.error{
    color: red;
}

.circle{
    width: 100px;
    height: 100px;

    background-color: var(--color);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;


    position: relative;
    top: 0;
    left: 0;
}

.moveRight{
    left: 100px;
}

.moveDown{
    top: 100px;
} */

img{
    width: 250px;
    height: 250px;
}

.wrapper{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.container {
    display: flex;
    transform: translateX(var(--sliderPos));
    transition: 1s;
}